@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Michroma&family=Outfit:wght@100&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Michroma&family=Outfit:wght@100;500&family=Rubik:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:#0d1a2d;
    font-family: 'Outfit', sans-serif;
}
.contain-1{
    height: 480px;
    width: 300px;
   
    margin-left: 100px;
    margin-top: 70px;
    background-color: #15273f;
    border-radius: 15px;
}
.contain-2{
    height: 430px;
    width: 270px;
    
    margin-left: 13px;
    
    background-color: #15273f;
}
.top{
   
    height: 310px;
    margin-top: 20px;
    
}
.mid{
    
    height: 50px;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-evenly;
    border-bottom:2px solid #293b53 ; 
}
.bot{
   
    height: 40px;
    margin-top: 11px;
    
 
}
.img-1{
    margin-left: 11px;
    margin-top: 25px;
    border-radius: 10px;
}.bot-1{
    display: flex;
}
.bot-1 p{
    margin-left: 15px;
    margin-top:14px;
}
.bot-1 img{
    margin-top: 10px;
    margin-left: 5px;
}
.mid-1{
    display: flex;
    justify-content: space-around;
    
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
}
.mid-2 p{
    margin-bottom: 10px;
}
.mid-2{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-around;
    
    width: 100px;
}
.top p{
    margin-top: 12px;
    margin-left: 25px;
}
.blue{
   color: #49dfe2;
   font-weight: bolder;
}
.para{
    color: #7a93b0;
    font-weight:400;

}
.head{
    color: #faffff;
    font-weight:bolder;
}
.bot img{
    border: 1px solid white;
    border-radius: 50%;
}
.super{
    display: flex;
    flex-direction: column;
   
    
}
.super-1{
    display: flex;
    flex-direction: row;
  
}
.super-2{
    display: flex;
    flex-direction: row;
   